.article h1 {
  margin-bottom: 8px;
  font-size: 1.4em;
  position: relative;
}
.article h2 {
  margin-bottom: 8px;
  font-size: 1.2em;
  position: relative;
}
.article h3 {
  margin-bottom: 8px;
  font-size: 1.1em;
  position: relative;
}

h1, h2, h3 {
  text-decoration: underline
}